<h1>Password Generator</h1>
<label for="">Enter length</label>
<input type="text" (input)="onChangePassLength($any($event.target).value)">
<div>
<label for="">Use Letters</label>
<input type="checkbox" (change)="useLetters()">
</div>
<div>
<label for="">Use Numbers</label>
<input type="checkbox" (change)="useNumbers()">
</div>
<div>
<label for="">Use symbols</label>
<input type="checkbox" (change)="useSymbols()">
</div>
<div>
<button  [disabled]="!(passLength && (checkUseLetters || checkUseNumbers || checkUseSymbols))"  (click)="generate()">Generate!</button>
</div>
<div>
<label for="">Your Password</label>
<input type="text" [value]="password">
</div>